.c1{
    margin-top: 10px;
    width: 300px;
    height: 200px;
    border: 10px solid yellow;
    padding-top: 10px;
    
}

.c2{
    margin-top: 10px;
    margin-left:300px;
    width: 300px;
    height: 200px;
    border: 10px solid yellow;
   
    
}
.p1{
    text-align: center;
    
}